html,body{
    margin:0;
    padding:0;
}
body{
    width: 100vw;
    height: 100vh;
}

footer{
    background-color: black;
    justify-content: space-between;
    align-items: baseline;
    display: flex;   
}

nav{
    width: 30%;
}

ul{
    justify-content: space-around;
    list-style: none;
    display: flex;
}
a{
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
}
a:hover{
    background-color: red;
}
strong{
    color: white;
}
footer{
    display: inline-block;
    padding: 10px 30px;
    width: 99vw;    
}