html,body{
    margin:0;
    padding:0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
}
main{
    width: 74vw;
    height: 75vh;
    
}
table{
    width: 50vw;
    height: 55vh;
}
button:hover{
    background-color:rgb(255, 60, 0);
}
td>a{
    color: black;
}
